<!--fixed navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <h2 class="navbar-header">The Local Scraper<button type="action" class="btn btn-default">Saved Articles<span class="glyphicon glyphicon-star"></span></button></h2>
        
      
    </div>
</nav>

<main class="parallax">

    <div class="row">
        <header>
            <div class="col-sm-8 col-sm-offset-2">
                <h1>The Local Scraper</h1>
                <h2>Get All Your Swedish News!</h2>
            </div>
        </header>
    </div>
    <div class="row">
        <button id="scrape" type="action" class="btn btn-">Scrape New Articles<span class="glyphicon glyphicon-list-alt"></span></button>
    </div>
</main>