<!--fixed navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="navbar-header headline">The Local Scraper<em> - Get All Your Swedish News!</em></h2>
            </div>
            <div class="col-sm-4">
                <button type="action" class="btn btn-default">Scrape New Articles<span class="glyphicon glyphicon-list-alt"></span></button>
                <button type="action" class="btn btn-default">Saved Articles<span class="glyphicon glyphicon-star"></span></button>    
            </div>
    </div>
</nav>

<main class="parallax">
    <ul id="headline-container">
        <li class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">Headline</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>summary</p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="img-thumbnail" src="images/swedish-flag.jpg" alt="headline image">
                    </div>  
                </div>
        </li>

        <li class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">Headline</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>summary</p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="img-thumbnail" src="images/swedish-flag.jpg" alt="headline image">
                    </div>  
                </div>
        </li>

        <li class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">Headline</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>summary</p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="img-thumbnail" src="images/swedish-flag.jpg" alt="headline image">
                    </div>  
                </div>
        </li>

        <li class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">Headline</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>summary</p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="img-thumbnail" src="images/swedish-flag.jpg" alt="headline image">
                    </div>  
                </div>
        </li>

        <li class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">Headline</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>summary</p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="img-thumbnail" src="images/swedish-flag.jpg" alt="headline image">
                    </div>  
                </div>
        </li>

        <li class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">Headline</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>summary</p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="img-thumbnail" src="images/swedish-flag.jpg" alt="headline image">
                    </div>  
                </div>
        </li>

        <li class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">Headline</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>summary</p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="img-thumbnail" src="images/swedish-flag.jpg" alt="headline image">
                    </div>  
                </div>
        </li>

        <li class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="">Headline</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <p>summary</p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="img-thumbnail" src="images/swedish-flag.jpg" alt="headline image">
                    </div>  
                </div>
        </li>

    </ul>


        

</main>