<!--fixed navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <button id="scrape" class="btn btn-default">Scrape New Articles<span class="glyphicon glyphicon-list-alt"></span></button>
        <button id= "saved" class="btn btn-default">View Saved Articles<span class="glyphicon glyphicon-star"></span></button>
    </div>
</nav>

<div class="parallax">
    <header>
        <h1>The Local Scraper</h1>
        <h2><em>Get All Your Swedish News!</em></h2>
    </header>
</div>
    <ul id="headline-container">
        {{#each articles}}
        <li class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{this.link}}">{{this.headline}}</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        {{#unless this.summary}}
                        <p>There is no summary available</p>
                        {{/unless}}
                        <p>{{this.summary}}</p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="img-thumbnail" src="https://www.thelocal.se/{{this.image}}" alt="headline image">
                    </div>  
                </div>
        </li>
        {{/each}}
    </ul>
