<!--fixed navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <h2 class="navbar-header headline">The Local Scraper<em> - Get All Your Swedish News!</em></h2>
        <button type="action" class="btn btn-default">Scrape New Articles<span class="glyphicon glyphicon-list-alt"></span></button>
        <button type="action" class="btn btn-default">Saved Articles<span class="glyphicon glyphicon-star"></span></button>    
    </div>
</nav>

<main class="parallax">



        

</main>