<!--fixed navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <h2 class="navbar-header">The Local Saved</h2>
        <ul class="nav navbar-nav navbar-right">
            <li><button type="action" class="btn btn-default">Home<span class="glyphicon glyphicon-home"></span></button></li>
        </ul>
    </div>
</nav>

<!--background image-->
<img class="bgimage" src="../../public/images/skane.jpeg">

<div class="row">
    <header>
        <div class="col-sm-8 col-sm-offset-2">
            <h1>The Local Saved</h1>
            <h2>Swedish News to Remember!</h2>
        </div>
    </header>
 </div>
