body {
    font-family: "Raleway", sans-serif;
}

.parallax {
    background-image: url("../images/skane.jpg");
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 25px solid #8E5F38;
}

.navbar-default {
    background-color: #8E5F38;
    border: none;
    height: 80px;
}

.headline {
    color: #C29F45;
    padding-right: 100px;
}

.btn-default {
    background-color: #C29F45;
    margin: 20px 10px;
    border: 1px solid #686D44;
}

.btn-default:hover {
    background-color: #C29F45;
    opacity: .5;
}

.glyphicon {
    margin: 0 10px;
}

#headline-container {
    margin: 80px 0;
}

.panel-default {
    background: #C29F45;
    width: 90%;
    margin: 50px 20px;
    opacity: .75;
}

.panel-heading {
    background: transparent;
}